@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/*body {
    overflow: hidden;
}*/

.header {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #37368e;
}

#headText {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 100vh;
    font-size: 5em;
    z-index: 1;
}

#pillar0 {
    position: absolute;
    top: 100%;
    right: calc(50% - 153.75px);
    margin: 0 375px 0 0;
    height: 594px;
    width: 497.25px;
    transition: top 2500ms ease;
}

#pillar1 {
    position: absolute;
    top: 100%;
    left: calc(50% - 153.75px);
    margin: 0 0 0 375px;
    height: 594px;
    width: 497.25px;
    transition: top 2500ms ease;
}

#pillarI {
    position: absolute;
    top: 100%;
    left: calc(50% - 248.625px);
    height: 375px;
    width: 497.25px;
    transition: top 2500ms ease;
}

#N-alefNum {
    position: absolute;
    top: 129%;
    left: calc(50% - 453.75px);
    color: #fff;
    z-index: 1;
    transition: top 2500ms ease;
}

#O-alefNum {
    position: absolute;
    top: 129%;
    right: calc(50% - 498.75px);
    color: #fff;
    z-index: 1;
    transition: top 2500ms ease;
}

#headLogo {
    position: absolute;
    width: 307.5px;
    height: 129.75px;
    bottom: 100%;
    left: calc(50% - 153.75px);
    transition: bottom 2500ms ease;
}

#headLogoB {
    position: absolute;
    width: 307.5px;
    height: 307.5px;
    top: calc(50% - 153.75px);
    left: calc(50% - 153.75px);
}

.square {
    width: 60px;
    height: 60px;
    background: #dec03f;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    transform-origin: center bottom;
    border-radius: 50%;
    z-index: 2;
    transition: background 500ms;
}

.square:hover {
    background: #fe6c4c;
}

i::after {
    content: "";
    position: absolute;
    left: 100px;
}

i:hover::after {
    content: "\E5C8";
}

/*.ballClickBox {
    width: 60px;
    height: 60px;
    background: #181713;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    transform-origin: center bottom;
    border-radius: 50%;
}*/


/*.other {
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100%;
    background: rgba(41, 9, 51, 1);
    z-index: 1;
    box-shadow: 0 -5px 200px 100px rgba(41, 9, 51, 1);
}*/

/*@keyframes bgChange {
    0% {
        background-color: #37368d;
    }
    16.67% {
        background-color: #aef0e1;
    }
    33.33% {
        background-color: #c61d32;
    }
    50% {
        background-color: #f8e71c;
    }
    66.67% {
        background-color: #2f5205;
    }
    83.33% {
        background-color: #b8e986;
    }
    100% {
        background-color: #37368d;
    }
}*/
