@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    /*overflow: scroll;*/
}

/*
------------------------------------------------------------------
Start Page
------------------------------------------------------------------
*/

.header {
    position: fixed;
    height: 100vh;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#headText {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 100vh;
    font-size: 5em;
    z-index: 1;
}

#mainPage {
    transition: background 1500ms 1000ms ease-out;
}

#headPage {
    opacity: 1;
    transition: opacity 1000ms 1000ms ease, transform 1000ms 1000ms ease;
}

.square {
    width: 60px;
    height: 60px;
    background: #dec03f;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    color: #fff;
    transform-origin: center bottom;
    border-radius: 50%;
    z-index: 2;
    transition: background 500ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.square:hover {
    background: #e33d3d;
}

.square i::after {
    content: "";
    position: absolute;
    left: 100px;
    color: #fff;
}

.square i:hover::after {
    content: "\E5C8";
}

/*
------------------------------------------------------------------
Footer
------------------------------------------------------------------
*/

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    color: #fff;
    opacity: 1;
    transition: color 1000ms 2000ms ease, opacity 1000ms 2000ms ease;
}

footer a {
    color: inherit;;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2ch;
    font-weight: 300;
    cursor: pointer;
}

footer #legal:hover::after {
    content: "Legal";
    position: fixed;
    margin: -42px -40px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    padding: 7px 12px;
    border-radius: 4px;
}

footer #cookies:hover::after {
    content: "Cookies";
    position: fixed;
    margin: -42px -40px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    padding: 7px 12px;
    border-radius: 4px;
}

/*

footer #ahgomes::before {
    content: attr(href);
    position: fixed;
    top: 20px;
    right: -100px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
    color: #fff !important;
    padding: 7px 12px;
    border-radius: 4px;
    opacity: 0;
    transition: right 900ms ease, opacity 900ms;
}

footer #ahgomes:hover::before {
    right: 30px;
    opacity: 1;
}

*/

footer #ahgomes:hover::after {
    content: "Author";
    position: fixed;
    margin: -42px -40px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    padding: 7px 12px;
    border-radius: 4px;
}

.legalCard, .cookiesCard {
    position: fixed;
    top: 110%;
    right: 160px;
    width: 0;
    height: 0;
    padding: 80px 0 0 50px;
    line-height: 23px;
    background: #f1f1f1;
    color: #444;
    transition: top 700ms, right 700ms, height 700ms, width 700ms;
    z-index: 999;
    overflow-y: scroll;
}

.cookiesCard {
    z-index: 998 !important;
}

.legalCard p, .cookiesCard p {
    margin-right: 150px;
    border-top: 2px solid #ddd;
    padding-top: 25px;
}

.legalCard .closeButtonL, .cookiesCard .closeButtonC {
    width: 40px;
    height: 40px;
    font-size: 40px;
    background: #f63f3f;
    position: fixed;
    top: 30px;
    right: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 40px !important;
    z-index: 1001;
    transform: scale(0);
    transition: transform 350ms 700ms;
}

/*
------------------------------------------------------------------
Navagation Bar
------------------------------------------------------------------
*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 1000;
    background: #071222;
    box-shadow: 0 2px 3px 0 rgba(147, 147, 147, 0.4);
    transform: translateY(-130px);
    transition: transform 1000ms 2000ms ease;
}

#links {
    height: 80px;
    background: #071222;
    padding: 0 500px 0 80px;
}

#links h1 {
    color: #fff;
    font-size: 2.3em;
    line-height: 80px;
}

#links div i, #links div p {
    position: fixed;
    top: 15px;
    line-height: 50px;
}

#links div {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1500ms;
}

#links div i {
    width: 40px;
    text-align: center;
    color: #1b4c6a;
}

#links div p {
    margin-left: 40px;
    font-size: 1.2em;
    color: #fff;
}

#alefLink i {
    line-height: 35px !important;
    font-size: 1.8em !important;
}

#histLink {
    position: absolute;
    left: calc(50% - 40px);
 }

#alefLink {
    position: absolute;
    left: calc(50% + 100px);
}

#paradoxLink {
    position: absolute;
    left: calc(50% + 240px);
}

#icon, #pgTitle, #icon i {
    position: fixed;
    top: 80px;
    height: 50px;
    background: #fff;
    line-height: 50px;
}

#icon {
    width: 140px;
    padding-left: 93px;
}

#icon i {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 5px;
    background: #039BE5;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
}

#openNav {
    position: fixed;
    top: 80px;
    right: 80px;
    line-height: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 5px;
    background: #fff;
    color: #2d2d2d;
    opacity: 0;
}

.hist:hover::after, .alef:hover::after, .paradox:hover::after {
    content: "";
    position: fixed;
    top: 85px;
    left: 93px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hist:hover::after {
    background: url(ic_filter_1_white_24dp_2x.png) #039BE5 center no-repeat;
    background-size: 22px;
}

.alef:hover::after {
    background: url(ic_filter_2_white_24dp_2x.png) #039BE5 center no-repeat;
    background-size: 22px;
}

.paradox:hover::after {
    background: url(ic_filter_3_white_24dp_2x.png) #039BE5 center no-repeat;
    background-size: 22px;
}

#pgTitle {
    left: 140px;
    width: calc(100% - 140px);
    font-size: 1.2em;
    color: #4d4d4d;
}

.disabled {
    cursor: not-allowed !important;
}

.disabled i, .disabled p {
    opacity: 0.25 !important;
}

.disabled:hover::after {
    content: "";
    position: fixed;
    top: 15px;
    margin-left: 40px;
    height: 50px;
    background: url(ic_lock_outline_white_24dp_2x.png) rgba(7, 18, 34, 0.5) center no-repeat;
    background-size: 30px;
    font-size: 1.2em;
    line-height: 50px;
}

#alefLink:hover::after {
    width: 50px;
}

#paradoxLink:hover::after {
    width: 100px;
}

#endLink:hover::after {
    margin-left: -5px;
    background-color: #4e23aa;
    border-radius: 5px;
    width: 105px;
}

.done {
    position: fixed;
    top: 15px;
    right: 5% !important;
    line-height: 50px;
    padding-left: 5px;
    width: 100px;
    height: 50px;
    background: #4e23aa;
    border-radius: 5px;
}

.done i {
    color: #fff !important;
}

/*
------------------------------------------------------------------
Forms
------------------------------------------------------------------
*/

.namePopUp {
    position: absolute;
    top: 100%;
    left: calc(50% - 175px);
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 5px 10px 0px rgba(147, 147, 147, 0.4);
    transition: top 2000ms 2000ms;
}

.form {
    list-style-type: none;
    text-align: center;
    margin-top: 100px;
}

.form li {
    margin: 15px;
}

.form input {
    height: 20px;
    width: 200px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #e6e6e6 !important;
    outline: none;
}

#formTitle {
    text-transform: lowercase;
    font-weight: 300;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -60px;
}

.form #submitF1 {
    height: 50px;
    width: 50px;
    border: none;
    color: #fff;
    background: #2d2d2d;
    border-radius: 50%;
    transition: background 500ms;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #008cff !important;
}

button:focus {
    outline: none;
}

input:required {
    border-bottom: 2px solid #dd3c3c !important;
}

input:required:focus {
    border-bottom: 2px solid #ab3232 !important;
}

/*
------------------------------------------------------------------
The History of Infinity
------------------------------------------------------------------
*/

.history {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    transition: opacity 1000ms 2000ms ease;
}

.history h1 {
    position: relative;
    color: #f1f1f1;
    text-align: center;
    line-height: 40vh;
    font-size: 4.5em;
    z-index: 1;
}
