@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    /*overflow: scroll;*/
}

/*
------------------------------------------------------------------
Start Page
------------------------------------------------------------------
*/

.header {
    position: fixed;
    height: 100vh;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#headText {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 100vh;
    font-size: 5em;
    z-index: 1;
}

#mainPage {
    transition: background 1500ms 1000ms ease-out;
}

#headPage {
    opacity: 1;
    transition: opacity 1000ms 1000ms ease, transform 1000ms 1000ms ease;
}

.square {
    width: 60px;
    height: 60px;
    background: #dec03f;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    color: #fff;
    transform-origin: center bottom;
    border-radius: 50%;
    z-index: 2;
    transition: background 500ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.square:hover {
    background: #e33d3d;
}

i::after {
    content: "";
    position: absolute;
    left: 100px;
    color: #fff;
}

i:hover::after {
    content: "\E5C8";
}

.namePopUp {
    position: absolute;
    top: 100%;
    left: calc(50% - 175px);
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 7px 10px 5px rgba(0, 0, 0, 0.23);
    transition: top 2000ms 2000ms;
}

.form {
    list-style-type: none;
    text-align: center;
    margin-top: 100px;
}

.form li {
    margin: 15px;
}

.form input {
    height: 20px;
    width: 200px;
    padding: 5px;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    outline: none;
}

#formTitle {
    text-transform: lowercase;
    font-weight: 300;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -60px;
}

.form #submitF1 {
    height: 50px;
    width: 50px;
    border: none;
    color: #fff;
    background: #2d2d2d;
    border-radius: 50%;
    transition: background 500ms;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/*
------------------------------------------------------------------
The History of Infinity
------------------------------------------------------------------
*/

.history {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    transition: opacity 1000ms 2000ms ease;
}

.history h1 {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 40vh;
    font-size: 4.5em;
    z-index: 1;
}
